LADLE_API_BASE_URL = https:/$()/vps-8b0be574.vps.ovh.us
LADLE_APP_ATTEST_ENABLED = NO
LADLE_TUNNEL_ACCESS_KEY =
APP_ATTEST_ENVIRONMENT = production
GOOGLE_IOS_CLIENT_ID =
GOOGLE_REVERSED_CLIENT_ID =
GOOGLE_SERVER_CLIENT_ID =
#include? "../.private/GoogleAuth.xcconfig"
#include? "../.private/VPSRelease.xcconfig"
